* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    background-image: linear-gradient(135deg, #87c8fa, 60%, #1f2d87);
    justify-content: center;
}

li {
    list-style-type: none;
}